<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ILike.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C98BFAE61C31D61600B2D2AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C98BFAFF1C31D61600B2D2AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C98BFB0A1C31D61600B2D2AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
